.btn {
  background-color: orange;
  color: white;
  margin: 15px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 20px;
}

button, span, label, input {
  /* font-weight: 700; */
  font-size: 18px;
}

button {
  margin-left: 8px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
 
}

a {
  color: white;
  text-decoration: none;
}

li {
  margin-bottom: 20px;
}

a:hover {
  color: yellow;
}